# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Dataset
breast cancer mri/
data/
dataset/

# Model files
*.pt
*.onnx

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
